# Środowisko
CI_ENVIRONMENT = production

# Baza danych
database.default.hostname = localhost
database.default.database = NAZWA_BAZY
database.default.username = UZYTKOWNIK
database.default.password = HASLO
database.default.DBDriver = MySQLi
database.default.charset  = utf8mb4

# Token do uruchamiania migracji przez przeglądarkę
# Ustaw losowy ciąg znaków, np.: openssl rand -hex 24
# Użycie: https://twoja-domena.pl/migrate/TUTAJ_TOKEN
MIGRATE_TOKEN = ZMIEN_NA_LOSOWY_TOKEN
